<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/icons/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />

</head>
<body>
    
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container-fluid">

                <span class="navbar-brand">Next</span>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <button id="btnPage1" class="nav-item-button" data-partial="_FirstPartial">Page 1</button>
                        </li>

                        <li class="nav-item">
                            <button id="btnPage2" class="nav-item-button" data-partial="_SecondPartial">Page 2</button>
                        </li>

                        <li class="nav-item">
                            <button id="btnPage3" class="nav-item-button" data-partial="_ThirdPartial">Page 3</button>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <div class="container">

        <!--container for child pages-->
        <div id="overlay">
            <div id="parent-container" class="page-container" data-child="no-child"></div>
        </div>

        <!--main content page-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
